<section class="home1">
  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="home">
        <div class="image">
            <img src="/avataaars.svg" alt="Hero Image" class="py-5 w-75">
        </div>
      <div class="heading">
        <h1 class="text-uppercase pt-3 text-center">start Framework</h1>
      </div>
      <div class="line d-flex justify-content-center align-items-center">
        <div class="line-div me-3"></div>
        <div><i class="fa-solid fa-star"></i></div>
        <div class="line-div2 ms-3"></div>
      </div>
      <div class="text-center pt-4">
        <p>Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</section>
